+++
title = "Sandpiper"
linkTitle = "Sandpiper"
+++

<!-- add color="none" to this shortcode to override -bg-dark default -->
{{< blocks/cover title="Sandpiper" image_anchor="top" height="full" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Apprendre <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< param github_project_repo >}}">
		Télécharger <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="tagline">Distribuer et synchroniser les données<br />des produits Auto Care</p>
	<p><br /></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Sandpiper fournit un moyen simple de synchroniser les données produit entre les partenaires commerciaux. Il est conçu pour utiliser 
les normes de données existantes de l'industrie tout en supprimant les problèmes liés à la mémorisation de ce qui doit être envoyé et comment l'envoyer.
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa-calendar-alt" title="Feuille de route de Sandpiper" url="https://autocare.communifire.com/spaces/127/sandpiper" %}}
Suivez nos progrès et nos jalons futurs sur la feuille de route officielle et restez à jour sur notre blog.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Bienvenue aux contributions!" url="https://github.com/sandpiper-framework" %}}
Documentation, traduction, codage, soumission de problèmes ... Les nouveaux utilisateurs sont toujours les bienvenus!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Suivez-nous sur Twitter!" url="https://twitter.com/sandpiper_api" %}}
Pour l'annonce des dernières fonctionnalités, etc.
{{% /blocks/feature %}}

{{< /blocks/section >}}
