/*
 * Add styles or override variables from the theme here.

   Also note that any SCSS import will look in the project before the theme, so you can, for example, create
   your own _assets/scss/_content.scss and get full control over how your Markdown content is styled.

 */

 // main colors
 
$primary: #A23B72;
//$primary: #390040;

// fonts

$google_font_name: "Roboto";
$google_font_family: "Roboto:300,300i,400,400i,700,700i";

//$google_font_name: "Helvetica Neue";
//$google_font_family: "Helvetica+Neue:300,300i,400,400i,700,700i";

/*** override nav ***/

#main_navbar a.nav-link {
  font-weight: 200;
  color: white;
  border-bottom: 3px solid transparent;
}

#main_navbar a.nav-link:hover {
  border-bottom: 3px solid red;
}

#main_navbar a.nav-link.active {
  font-weight: 400;
  border-bottom: 3px solid red;
}

#main_navbar a.dropdown-toggle:hover {
  border-bottom: 3px solid transparent;
}

/*** override homepage ***/

.td-cover-block {
  background: {
      blend-mode: overlay;
      //color: #1c3ed3;  // use color="none" in blocks/cover shortcode if uncomment
  };
}

// force title text to white
.td-overlay__inner {
  color: white;
}

.tagline {
  margin-top: 3rem !important;
  font-weight: 200;
  font-family: "Open Sans";
  font-size: 2.0rem;
  line-height: 1.2;
}

/*** about page overrides ***/

.authors {
  padding-left: 0;
  padding-right: 0;
}

/*** misc ***/

.xpad { 
  padding-right: 3px;
}
